$icon-height: 8vh;
$header: #FFFFFF;

.chat-board {
  position: absolute;
  right: 0;
  height: 100vh;
  background-color: #08415B;  // 2e5871

  .ant-collapse > .ant-collapse-item.ant-collapse-no-arrow > .ant-collapse-header {
    padding: 0;
  }
  
  .icon-container {
    background-color: #E3E4E5;

    .icon-background{
      height: 100vh;
      .chatboard-icon {
        height: $icon-height;
        font-size: 2.6vw;
        color: #E3E4E5;
        background-color: white;
  
        svg {
          height: $icon-height;
          background-color: #08415B;
          border-radius: 40% 0 0 40%;
        }
      }
    }
  }

  .chat-board-card {
    margin: 5% 0 0 5% !important;
    width: 96%;
    border-radius: 10px;
    border: 0;
    overflow: hidden;
    
    .chat-board-card-icon{
      padding: 5px 0 0 0;
    }
    .ant-collapse-header {
      padding: 0.3rem 0 0.3rem 0;
    }
    .chat-board-card-info {
      font-size: 1.5vw;

      .chat-board-card-icon {
        width: 45%;
        margin-left: 5%;
      }
    }
  }
}
