$header-height: 8vh;
$body-height: 82vh;
$footer-height: 10vh;
$header: #FFFFFF;
$message-background-color : #E3E4E5;

.chat {
  height: 100vh;
  background-color: $message-background-color;
  .chat-header {
    height: $header-height;
    width: 100%;
    color: black;
    font-size: 1.5rem;
    background-color: $header;
    padding-left: 40px;
    img {
      height: 100%;
    }
  }
  .messages {
    display: block;
    font-size: 0.8rem;
    padding: 3%;
    height: $body-height;
    overflow: auto;

    .message-bubbles-left {
      display: flex;
      .client-message {
        background-color: white;
        padding: .5rem;
        border-radius: 5px;
        margin-bottom: 20px;
      }
    }
    .message-bubbles-right {
      display: flex;
      flex-direction: row-reverse;
      margin-top: 2%;
      .counsellor-message {
        background-color: #0b95c8;
        color: #fff;
        padding: .5rem;
        border-radius: 5px;
        margin-bottom: 20px;
      }
    }
    .message-time-left {
      display: flex;
      margin-bottom: 10px;
      .message-name{
        margin-right: 20px;
      }
    }
    .message-time-right {
      display: flex;
      flex-direction: row-reverse;
      margin-bottom: 10px;
      .message-name{
        margin-left: 20px;
      }
    }

  }

  .chatbar {
    position: absolute;
    display: flex;
    align-self: center;
    bottom:0; 
    width: 100%;
    height: $footer-height;
    background-color: $message-background-color;
    input {
      width: 80%;
      height: 42px;
      border: 0;
      border-radius: 4px;
      font-size: 1.3rem;
      margin-left: 10px;
    }
    .chatbar-icon{
      font-size: 30px;
      i {
        margin-left: 10px;
      }
    }
  }
}