$header-height: 10%;
$body-height: 75%;
$footer-height: 15%;
$header: #FFFFFF;
$message-background-color : #E3E4E5;

.chat {
  height: 100vh;
  background-color: $message-background-color;
  .chat-header {
    height: $header-height;
    width: 100%;
    color: black;
    font-size: 1.5rem;
    background-color: $header;
    padding-left: 40px;
    img {
      height: 100%;
    }
  }
  .messages {
    display: block;
    font-size: 0.8rem;
    padding: 3%;
    height: $body-height;
    overflow: auto;

    .message-bubbles-left {
      display: flex;
      .client-message {
        background-color: white;
        padding: .5rem;
        border-radius: 5px;
        margin-bottom: 20px;
      }
    }
    .message-bubbles-right {
      display: flex;
      flex-direction: row-reverse;
      margin-top: 2%;
      .counsellor-message {
        background-color: #0b95c8;
        color: #fff;
        padding: .5rem;
        border-radius: 5px;
        margin-bottom: 20px;
      }
    }
    .message-time {
      display: block;
      text-align: center;
      overflow: hidden;
      white-space: nowrap;
      margin-bottom: 10px;
    }
  }

  .chatbar {
    position: absolute;
    bottom:0; 
    width: 100%;
    height: $footer-height;
    background-color: $message-background-color;
    .chat-input {
      position: relative;
      
    }
    input {
      top: 50%;
      width: 80%;
      height: 40%;
      border: 0;
      left: 30px;
      border-radius: 4px;
    }
  }
}