.queue {

  height: 100vh;
  background-color: #08415B;
  overflow: auto;
  .ant-collapse > .ant-collapse-item.ant-collapse-no-arrow > .ant-collapse-header {
    padding: 5px 0 0 0;
  }
  .card {
    margin: 2% !important;
    width: 96%;
    border-radius: 10px;
    border: 0;
    overflow: hidden;

    .card-info {
      font-size: 1.1vw;
      .card-icon {
        width: 60%;
        margin-left: 5%;
      }
    }
    .header-mobile {
      margin-bottom: 0%;
      font-size: 1.5vw;
    }
    .personal-info {
      font-size: 1vw;
      margin: 3% 0 0 1%;
      .info-item {
        margin-bottom: 5%;
        .item-titles {
          font-family: 'HelveticaRoundedLTStd-Bd';
          color: #08415B;
        }
      }
    }
  }
 }




// .ant-slider-handle {
//   background-color: red !important;
// }

// .ant-slider-step {
//   background-color: pink !important;
// }

// .ant-slider-dot {
//   background-color: pink !important;
// }





/* .ant-card-body {
  padding: .8rem !important;
} */


