.chat {
  height: 100vh;

  .messages {
    display: block;
    padding: 3%;
    height: 85%;
    overflow: auto;

    .message-bubbles-left {
      display: flex;
      .client-message {
        background-color: #eee;
        padding: .5rem;
        border-radius: .75rem;
      }
    }
    .message-bubbles-right {
      display: flex;
      flex-direction: row-reverse;
      margin-top: 2%;
      .counsellor-message {
        background-color: #0b95c8;
        color: #fff;
        padding: .5rem;
        border-radius: .75rem;
      }
      
    }
  }

  .chatbar {
    position: absolute;
    bottom:0; 
    width: 100%;
    height: 15%;
    background-color: #2e5871;
    .chat-input {
      position: relative;
      left: 10%;
      top: 31%;
      width: 80%;
      height: 45%; 
    }
  }
}
