.chat {
  height: 100vh;

  .messages {
    padding: 3%;
    .message-bubbles-left {
      background-color: #eee;
      padding: .5rem;
      border-radius: .75rem;
    }
    .message-bubbles-right {
      background-color: #0b95c8;
      color: #fff;
      padding: .5rem;
      border-radius: .75rem;
      float: right;
    }
  }

  .chatbar {
    position: absolute;
    bottom:0; 
    width: 100%;
    height: 15%;
    background-color: #2e5871;
    .chat-input {
      width: 80%;
      margin: 6% 10% 5% 10%;
      
    }
  }
}
