$header-height: 10vh;
$footer-height: 15vh;
$header-footer: #048ED8;

.chat-board {
  position: absolute;
  right: 0;
  height: 100vh;
  background-color: #08415B;  // 2e5871

  .icon-container {
    background-color: #F9F9F9;
    .board-header{
      height: $header-height;
      width: 100%;
      background-color: $header-footer;
    }

    .chatboard-icon {
      height: 90vh;
      font-size: 2.6vw;
      color: #F9F9F9;
    }
    .chatboard-icon > svg {
      height: 15vh;
      background-color: #08415B;
      border-radius: 50% 0 0 50%;
    }

    .board-footer{
      position: absolute;
      bottom:0; 
      height: $footer-height;
      width: 100%;
      background-color: $header-footer;
    }

  }

  .chat-board-card {
    margin: 5% 0 0 5% !important;
    width: 96%;
    border-radius: 10px;
    border: 0;
    overflow: hidden;
    
    .ant-collapse-header {
      padding: 0.3rem 0 0.3rem 0;
    }
    .chat-board-card-info {
      font-size: 1.5vw;

      .chat-board-card-icon {
        width: 45%;
        margin-left: 5%;
      }
    }
  }
}
