.chat {
  height: 100vh;
}

.chat-input {
  position: absolute;
  bottom:0; 
  width: 100%;
  height: 15%;
  background-color: #2e5871;
  padding: 6% 10% 5% 10%;
}

.messages {
  padding: 3%;
}

/*.message-bubbles {
 background-color: #eee;
 padding: .5rem;
 border-radius: .75rem;
 width: 13rem;
}*/

.message-bubbles-left {
  background-color: #eee;
  padding: .5rem;
  border-radius: .75rem;
}

.message-bubbles-right {
  background-color: #0b95c8;
  color: #fff;
  padding: .5rem;
  border-radius: .75rem;
  float: right;
}