* {
  font-family: Roboto;
}


#root {
    display: block;
}

.navbar {
  float: left;
  display: inline-block;
  width: 18%;
  height: 98vh;
  /*align-items: center;*/
}

.profile-img {
  width: 85%;
  margin-top: 2rem;
  margin-bottom: 3rem;
  margin-left: auto;
  margin-right: auto;
}

.nav-button {
  width: 90%;
}

.queue {
  float: left;
  width: 25%;
  display: inline-block;
  height: 98vh;
  background-color: #EEE;
}

.chat {
  float: left;
  width: 55%;
  display: inline-block;
  height: 98vh;
}

.chat-input {
  position: fixed;
  width: 100%;
  bottom: 2%;
}

.messages {
  padding: 3%;
}

.message-bubbles {
  background-color: #eee;
}

