@import './components/styles/Chat.scss';
@import './components/styles/NavBar.scss';
@import './components/styles/Queue.scss';

@font-face {
    font-family: 'HelveticaRoundedLTStd-Bd';
    src: url('./fonts/HelveticaRoundedLTStd-Bd.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

* {
 font-family: Roboto;
}

#root {
   display: block;
}

.chat-board {
  position: absolute;
  right: 0;
  height: 100vh;
  background-color: #2e5871;
  
  .chatboard-icon {
    height: 100vh;
    font-size: 1.5rem;
    margin-top: 47vh;
    color: #F2F2F2;
  }

  .chat-board-card {
    margin: 3% 0 2% 0 !important;
    width: 96%;
    border-radius: 10px;
    border: 0;
    overflow: hidden;
    
    .chat-board-card-info {
      font-size: 1.2vw;

      .chat-board-card-icon {
        width: 60%;
        margin-left: 5%;
      }
    }
  }
}


